<%- include('partials/header.ejs')%>
<%- include('partials/messages.ejs')%>
<style>
    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
</style>
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">RESULTS</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://www.kindpng.com/picc/m/1-11932_amazon-logo-png-amazon-a-logo-transparent-png.png" alt="card image"></p>
                                    <h4 class="card-title">Amazon</h4>
                                    <p class="card-text"><b>Product Name :</b><%-values[0].product_name%></p>
                                    <p class="card-text"><b>Price : </b><%-values[0].price%></p>
                                    
                                    <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <!-- <h4 class="card-title">Sunlimetech</h4> -->
                                    <p class="card-text"><b>Product Link: </b><a href="<%- values[0].link %>" target="_blank">Visit</a></p>
                                    <p class="card-text"><b>For more products : </b><a href="<%- values[0].links %>"target="_blank">Visit</a></p>
                                    <!-- <p><b>Click to add favourites</b><br><i class="fas fa-plus-square fa-2x"style="text-text-align:center"></i></p> -->
                                   
                                    
                                    <p><b>Click to add favourites</b><br></p>
                                   <div style="visibility: hidden;">
                                    <form action="/users/add" method="POST" id="form1">
                                        <input type="text"  name="name" value="<%-values[0].product_name%>">
                                        <input type="text"  name="site" value="https://www.kindpng.com/picc/m/1-11932_amazon-logo-png-amazon-a-logo-transparent-png.png">
                                        
                                            <input type="text"  name="price" value="<%-values[0].price%>">
                                            <input type="text"  name="link" value="<%-values[0].link%>">
                                            <input type="text"  name="links" value="<%-values[0].links%>">
                                            <!-- <input type="submit" value="Submit"> -->
                                          </form>
                                        </div>
                                          <button type="submit" form="form1" value="Submit"><i class="fas fa-plus-square fa-2x"style="text-text-align:center"></i></button>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://img2.pngio.com/logo-flipkart-png-transparent-logo-flipkartpng-images-pluspng-flipkart-png-200_200.png" alt="card image"></p>
                                    <h4 class="card-title">Flipkart</h4>
                                    <p class="card-text"><b>Product Name :</b><%-values[1].product_name%></p>
                                    <p class="card-text"><b>Price : </b><%-values[1].price%></p>
                                    
                                    <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <!-- <h4 class="card-title">Sunlimetech</h4> -->
                                    <p class="card-text"><b>Product Link: </b><a href="<%- values[1].link %>" target="_blank">Visit</a></p>
                                    <p class="card-text"><b>For more products : </b><a href="<%- values[1].links %>"target="_blank">Visit</a></p>
                                    <!-- <p class="card-text"><b>Product Link: </b><a href="<%- values[0].link %>" target="_blank">Visit</a></p>
                                    <p class="card-text"><b>For more products : </b><a href="<%- values[0].links %>"target="_blank">Visit</a></p> -->
                                    <p><b>Click to add favourites</b><br></p>
                                    <div style="visibility: hidden;">
                                     <form action="/users/add" method="POST" id="form2">
                                         <input type="text"  name="name" value="<%-values[1].product_name%>">
                                         <input type="text"  name="site" value="https://img2.pngio.com/logo-flipkart-png-transparent-logo-flipkartpng-images-pluspng-flipkart-png-200_200.png">   
                                         <input type="text"  name="price" value="<%-values[1].price%>">
                                             <input type="text"  name="link" value="<%-values[1].link%>">
                                             <input type="text"  name="links" value="<%-values[1].links%>">
                                             <!-- <input type="submit" value="Submit"> -->
                                           </form>
                                         </div>
                                           <button type="submit" form="form2" value="Submit"><i class="fas fa-plus-square fa-2x"style="text-text-align:center"></i></button>
                                    <!-- <p><b>Click to add favourites</b><br><a href="users/add/<%- values[1] %>"><i class="fas fa-plus-square fa-2x"style="text-text-align:center"></i></a></p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://i.pinimg.com/originals/b4/1c/d2/b41cd2259fae83ce40e1e848c3c7d1b7.png" alt="card image"></p>
                                    <h4 class="card-title">Snapdeal</h4>
                                    <p class="card-text"><b>Product Name :</b><%-values[2].product_name%></p>
                                    <p class="card-text"><b>Price : </b><%-values[2].price%></p>
                                    
                                    <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <!-- <h4 class="card-title">Sunlimetech</h4> -->
                                    <p class="card-text"><b>Product Link: </b><a href="<%- values[2].link %>" target="_blank">Visit</a></p>
                                    <p class="card-text"><b>For more related products : </b><a href="<%- values[2].links %>"target="_blank">Visit</a></p>
                                    <!-- <p><b>Click to add favourites</b><br><i class="fas fa-plus-square fa-2x"style="text-text-align:center"></i></p>    -->
                                    <p><b>Click to add favourites</b><br></p>
                                    <div style="visibility: hidden;">
                                     <form action="/users/add" method="POST" id="form3">
                                         <input type="text"  name="name" value="<%-values[2].product_name%>">
                                         <input type="text"  name="site" value="https://i.pinimg.com/originals/b4/1c/d2/b41cd2259fae83ce40e1e848c3c7d1b7.png">    
                                         <input type="text"  name="price" value="<%-values[2].price%>">
                                             <input type="text"  name="link" value="<%-values[2].link%>">
                                             <input type="text"  name="links" value="<%-values[2].links%>">
                                             <!-- <input type="submit" value="Submit"> -->
                                           </form>
                                         </div>
                                           <button type="submit" form="form3" value="Submit"><i class="fas fa-plus-square fa-2x"style="text-text-align:center"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<%- include('partials/footer.ejs')%>